/* modificazioni nav  */
ul .btn {
    border-radius: 10px;
    line-height: 20px;
    margin: 0 8px;
}

/* modificazione bottono jumbo e new-game  */
.jumbo .btn, .second-game .btn {
    background-color: #cd3d0f;
    border-radius: 24px;
    line-height: 30px;
}

/* modifica bottono ps5 e ps4  */
.ps5 .btn, .ps4 .btn {
    border-radius: 24px;
    background-color: #2d64e6;
    font-size: 14px;
}

/* modifica bottone play-plus  */
.play-plus .btn {
    background-color: #d9dadc ;
    border-radius: 24px;
    border-color: #d9dadc ;
}

/* modifa bottone play-now  */
.play-now .btn {
    background-color: #f5f5f5 ;
    border-radius: 24px;
    border-color: #f5f5f5 ;
}

/* modifica ul footer  */
footer ul {
    padding: 0;
}

/* utility class */
h1 {
    font-size: 40px;
    margin-bottom: 36px;
}

h2 {
    margin-bottom: 36px;
    font-size: 32px;
}

h3 {
    margin-bottom: 28px;
}

h6 {
    color: #666;
    font-size: 14px;
    margin-bottom: 24px;
}

p {
    margin-bottom: 24px;
}

section img {
    width: 100%;
}

.title {
    text-align: center;
}

.box-img {
    margin-top: 12px;
    margin-bottom: 12px;
}

.in-pad {
    padding-top: 36px;
    padding-bottom: 36px;
}

/* end utility class */
.sony {
    background-color: black;
    padding: 12px 24px;
    display: flex;
    justify-content: flex-end;

}

.sony svg {
    height: 12px;
}
/* leyout nav  */
nav li svg {
    height: 30px;
}

nav .menu {
    font-weight: 600;
    vertical-align: middle;
}

nav .menu:hover {
    color: #0776cf !important ;
}

nav .menu::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    font-size: 10px;
    margin-left: 4px;
    color: #555;
}

nav .menu:hover::after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    font-size: 10px;
    margin-left: 4px;
    color: #0776cf !important;
}

/* leyout jumbo */
.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center center;
    color: white;
}

.jumbo img {
    padding-top: 200px;
    width: 100%;
    margin-bottom: 48px;
}

/* leyout main  */
.ev-game, .ps5, .second-game, .ps4, .play-plus, .sale, .play-now, .social, footer {
    margin-top: 48px;
}

/* leyout first section  */
.ev-game .box-game {
    border: 2px solid white;
    border-radius: 12px;
    margin-bottom: 24px;
}

.ev-game .box-game:hover {
    border-color: #0776cf ;
}

.ev-game .box-game-padding {
    border: 3px solid white;
    overflow: hidden;
    border-radius: 12px;
}
/* leyout section PS5 */
.ps5 .up-title {
    color: #0776cf ;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}

.ps5 .box-img {
    text-align: center;
    opacity: 0.6;
    border-bottom: 2px solid white ;
}

.ps5 .box-img:hover {
    opacity: 1;
    border-color: #0776cf ;
}

.ps5 .box-img div i {
    font-size: 6px;
    color: #666;
    vertical-align: super;
}

/* leyout second game  */

.second-game {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
}

.second-game img {
    margin-bottom: 48px;
}

/* leyout new-game  */

.new-game {
    color: white;
    background-color: #1f1f1f;
}

.new-game img {
    border-radius: 20px;
}

.new-game .game-title {
    font-weight: bold;
}

.new-game .game-title i {
    font-size: 6px;
    color: white;
    vertical-align: super;
}

/* leyout ps4  */
.ps4 .box-img h6 {
    font-size: 1.1rem;
}

/* leyout play-plus */
.play-plus {
    background-color: #bebcbb;
}

/* leyout play-now */
.play-now {
    background-color: #161c3b;
    color: white;
}

/* leyout footer  */
footer {
    color: white;
    background-color: #00439c;
    font-size: 12px;
}

footer .logo img {
    height: 80px;
}

footer .leng {
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 14px;
    vertical-align: middle;
}

footer .leng i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

footer .leng span {
    vertical-align: middle;
}
footer ul {
    list-style: none;
}
footer ul li {
    margin: 8px 0;
}

footer .copyright img {
    height: 40px;
    margin-bottom: 8px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .copyright a {
    text-decoration: underline;
}