/* modificazioni nav  */
ul .btn {
    border-radius: 10px;
    line-height: 20px;
    margin: 0 8px;
}




/* utility class */






/* end utility class */
.sony {
    background-color: black;
    padding: 10px 24px;
    display: flex;
    justify-content: flex-end;
}

.sony svg {
    height: 15px;
    margin: ;
}

/* leyout nav  */

nav li svg {
    height: 30px;
}

nav li i {
    opacity: 0.5;
    font-size: 0.7rem;
    margin-right: 8px;
    margin-left: -4px;
}