/* modificazioni nav  */
ul .btn {
    border-radius: 10px;
    line-height: 20px;
    margin: 0 8px;
}

/* modificazione bottono jumbo e new-game  */
.jumbo .btn, .second-game .btn {
    background-color: #cd3d0f;
    border-radius: 24px;
    line-height: 30px;
}

/* modifica bottono ps5 e ps4  */
.ps5 .btn, .ps4 .btn {
    border-radius: 24px;
    background-color: #2d64e6;
}

/* utility class */
.bord {
    border: 1px solid black;
}


/* end utility class */
.sony {
    background-color: black;
    padding: 10px 24px;
    display: flex;
    justify-content: flex-end;
}

.sony svg {
    height: 15px;
}

/* leyout nav  */

nav li svg {
    height: 30px;
}

nav li i {
    opacity: 0.5;
    font-size: 0.7rem;
    margin-right: 8px;
    margin-left: -4px;
}

/* leyout jumbo */
.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center center;
    color: white;
}

.jumbo .text {
    padding-bottom: 50px;
}

.jumbo img {
    padding-top: 200px;
    width: 100%;
    margin-bottom: 48px;
}

.jumbo h1 {
    font-size: 40px;
    margin-bottom: 36px;
}

.jumbo p {
    margin-bottom: 24px;
}

/* leyout main  */


/* leyout first section  */
.ev-game {
    margin-top: 36px;
    margin-bottom: 36px;
}

.ev-game .box-game {
    border: 2px solid white;
    border-radius: 12px;
    margin-bottom: 24px;
}

.ev-game .box-game:hover {
    border-color: #0776cf ;
}

.ev-game .box-game-padding {
    border: 3px solid white;
    overflow: hidden;
    border-radius: 12px;
}


.ev-game img {
    width: 100%;
}

/* leyout section PS5 */

.ps5 .title {
    text-align: center;
    margin-bottom: 36px;

}

.ps5 .up-title {
    color: #0776cf ;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}

.ps5 h1 {
    margin-bottom: 36px;
    font-size: 40px;
}

.ps5 h6 {
    color: #666;
    margin-bottom: 24px;
    font-size: 14px;
}

.ps5 button {
    font-size: 14px;
}

.ps5 h2 {
    margin-bottom: 36px;
    font-size: 32px;
}

.ps5 img {
    width: 100%;
}

.ps5 .stuff {
    margin-top: 36px;
}


.box-stuff img {
    width: 100%;
}

.ps5 .box-stuff {
    text-align: center;
    opacity: 0.6;
    border-bottom: 2px solid white ;
}

.ps5 .box-stuff:hover {
    opacity: 1;
    border-color: #0776cf ;
}

.ps5 .box-stuff div i {
    font-size: 6px;
    color: #666;
    vertical-align: super;
}



/* leyout second game  */

.second-game {
    margin-top: 24px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
}

.second-game .text {
    padding-bottom: 48px;
}

.second-game img {
    margin-top: 48px;
    width: 100%;
    margin-bottom: 48px;
}

.second-game h1 {
    font-size: 40px;
    margin-bottom: 36px;
}

.second-game p {
    margin-bottom: 24px;
}


/* leyout new-game  */

.new-game {
    color: white;
    background-color: #1f1f1f;
    padding-top: 28px;
    padding-bottom: 28px;
}

.new-game h3 {
    margin-bottom: 28px;
}

.new-game .text {
    margin-bottom: 24px;
}

.new-game .game {
    margin-bottom: 24px;
}

.new-game img {
    width: 100%;
    border-radius: 20px;
}

.new-game .game-title {
    font-weight: bold;
}

.new-game .game-title i {
    font-size: 6px;
    color: white;
    vertical-align: super;
}

/* leyout ps4  */
.ps4 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.ps4 .title { 
    text-align: center;
    margin-bottom: 28px;
}


.ps4 h1 {
    margin-bottom: 36px;
    font-size: 40px;
}

.ps4 h6 {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}

.ps4 button {
    font-size: 14px;
}

.ps4 h2 {
    margin-bottom: 28px;
    font-size: 32px;
}

.ps4 img {
    width: 100%;
}